@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "_Layout";
}

<head>
		<environment names="Development">
			<link type="text/css" href="@Url.Content("~/bootstrap-4.1.1-dist/css/bootstrap.css")" rel="stylesheet" />
			<link type="text/css" href="@Url.Content("~/bootstrap-4.1.1-dist/css/bootstrap-grid.css")" rel="stylesheet" />
			<link type="text/css" href="@Url.Content("~/bootstrap-4.1.1-dist/css/bootstrap-reboot.css")" rel="stylesheet" />
			
			<link type="text/css" href="@Url.Content("~/CSS/CSS.css")" rel="stylesheet" />

			<script src="@Url.Content("~/bootstrap-4.1.1-dist/js/bootstrap.js")"></script>



	
		</environment>
</head>
<body>
<div>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
	<div class="navbar-header">
      <a class="navbar-brand" href="/Home/index">HotelsHotels</a>
    </div>
	<ul>
	@if(Context.Session.GetString("TypeUser") == "Manager Site")	
	{
		<li><a href="/Hotels">Hotels Manager</a></li>
		<li><a href="/Customers">Users Management</a></li>
		<li><a href="/Locations"> Location Manager </a></li>
	}
	@if(Context.Session.GetString("TypeUser") == "Manager Hotel" || Context.Session.GetString("TypeUser") == "Manager Site")
	{
		<li><a href="/Reservations"> Reservations Manager </a></li>
		<li><a href="/Rooms"> Rooms Manager </a></li>
		<li><a href="/Employes"> Employes </a></li>
	}
	</ul>
    @if (Context.Session.GetString("IdCustomer") != null)
    {
        <ul>
            <li><a asp-area="" asp-controller="Customers" asp-action="LogOut">logOut</a></li>
        </ul>
    }
    else
    {
        <ul>
            <li><a asp-area="" asp-controller="Customers" asp-action="LogIn">LogIn</a></li>
            <li><a asp-area="" asp-controller="Customers" asp-action="Create">Sing In</a></li>
        </ul>
    }
</div>
</nav>
	@RenderBody()
</div>

</body>


