@model Licenta.ViewModel.HotelDescriptionPageViewModel
	
@{
    ViewData["Title"] = "Details";
	Layout = "Hotel_Layout";
}

<h2>Details</h2>

<div>
    <h4>Hotels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionTable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionTable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HotelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdLocationNavigation.RegionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdLocationNavigation.RegionName)
        </dd>
</dl>
		<!-- Images  -->
		<div class="row">
		@for(int i = 0 ; i < Model.imagesString.Length ; i++)
		{
		
		<div class="column" style="width:20%">
        <img src="data:image/png;base64,
            @Html.DisplayFor(modelItem => Model.imagesString[i])
			" style="width:100%; height:200px" class="hover-shadow cursor" onclick="openModal();currentSlide(@i+1)"/>	
		</div>
		
		}
		<!-- Modal LightBox  -->	
		<div id="myModal" class="modal">
			<span class="close cursor" onclick="closeModal()">&times;</span>
			<div class="modal-content">
				@for(int i = 0 ; i < Model.imagesString.Length ; i++)
				{
					<div class="slider">
					<img src="data:image/png;base64,@Html.DisplayFor(modelItem => Model.imagesString[i])" style="width:100%;height:500px"/>
					</div>
				}	

					    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
						<a class="next" onclick="plusSlides(1)">&#10095;</a>
						</br>
						</br>
					<div class="content">
					@for(int i = 0 ; i < Model.imagesString.Length ; i++)
					{
						<div class="column" style="width:20%;height:125px;">
							<img src="data:image/png;base64,@Html.DisplayFor(modelItem => Model.imagesString[i])"
							style="width:100%;height:100%" class="demo cursor" style="width:100%" onclick="currentSlide(@i+1)"/>
						</div>
					}
					</div>
			</div>
			
		</div>


</div>
<div>

	

<form  asp-controller="Reservations" asp-action="CreateReservation" method="post">
	<table class="table table-striped">
	
            <thead>
				<tr>
				
					@Html.HiddenFor(modelItem => @Model.IdUser)
				
				</tr>
                <tr>
                    <td>Room</td>
                    <td>Beds</td>
                </tr>

            </thead>
            <tbody>
                @foreach (var rooms in Model.Rooms)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelIten => rooms.RoomNumber)</td>
                        <td> @Html.DisplayFor(modelIten => rooms.Beds)</td>
						<td> @Html.DisplayFor(modelItem => rooms.PriceRoom)</td>
						@Html.HiddenFor(modelItem => @Model.Rooms.Where(x => x.IdHotel == rooms.IdHotel).FirstOrDefault().IdRoom)
						@Html.HiddenFor(modelItem => @Model.CheckIn)
						@Html.HiddenFor(modelItem => @Model.CheckOut)
						
						<td><input type="submit" value="Make Reservation" /></td>
						<td>
						<!-- Bootstrap modal part -->
						  <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Reservate</button>
						  -->
						<div class="modal fade" id="myModal" role="dialog">
							<div class="modal-dialog">
     
								 <div class="modal-content">
  
									 <div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal">&times;</button>
									 <h4 class="modal-title">Modal Header</h4>
								 </div>
								 <div class="modal-body">
									<p>Some text in the modal.</p>
								  </div>
								<div class="modal-footer">
									 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
      
						</div>
					</div>
				</td>
                    </tr>
                }
            </tbody>
        </table>
		</form>
</div>

