@model Licenta.ViewModel.HotelDescriptionPageViewModel

@{
    ViewData["Title"] = "Details";
	Layout = "_Layout";
}

<h2>Details</h2>

<div>
    <h4>Hotels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionTable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionTable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HotelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdLocationNavigation.RegionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdLocationNavigation.RegionName)
        </dd>
		@foreach(var item in Model.GaleryImages)
		{
			
		}
    </dl>

</div>
<div>

	

<form  asp-controller="Reservations" asp-action="CreateReservation" method="post">
	<table class="table table-striped">
	
            <thead>
				<tr>
					<div class="form-group">
						<input asp-for="CheckIn" class="form-control" Value="CheckDate" Style="padding-top:5px,padding-top:5px"/>					
						<span asp-validation-for="CheckIn" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="CheckOut" class="form-control" Value="OutDate" Style="padding-top:5px,padding-top:5px"/>
						<span asp-validation-for="CheckOut" class="text-danger"></span>
					</div>
					@Html.HiddenFor(modelItem => @Model.IdUser)
				</tr>
                <tr>
                    <td>Room</td>
                    <td>Beds</td>
                </tr>

            </thead>
            <tbody>
                @foreach (var rooms in Model.Rooms)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelIten => rooms.RoomNumber)</td>
                        <td> @Html.DisplayFor(modelIten => rooms.Beds)</td>
						@Html.HiddenFor(modelItem => @Model.Rooms.Where(x => x.IdHotel == rooms.IdHotel).FirstOrDefault().IdRoom)
						
					
						<td><input type="submit" value="Make Reservation" /></td>
                    </tr>
                }
            </tbody>
        </table>
		</form>
</div>
