@model IEnumerable<Licenta.Entityes.Hotels>

@{
    ViewData["Title"] = "Index";
	Layout = "_Layout";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DescriptionTable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HotelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stars)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLocationNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionTable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLocationNavigation.IdLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHotel">Edit</a> |                
                <a asp-action="Delete" asp-route-id="@item.IdHotel">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
