@model IEnumerable<Licenta.Entityes.Hotels>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionTable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Stars)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionTable)
                </td>
                <td>
                    <a href="Hotels/Edit/@item.IdHotel">Edit</a> |
                    <a href="Hotels/Details/@item.IdHotel">Details</a> |
                    <a href="Hotels/Delete/@item.IdHotel">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
