@model Licenta.Entityes.Reservations
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
	Layout = "_Layout";
}

<h2>Details</h2>

<div>
    <h4>Reservations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdRoomNavigation.IdHotelNavigation.HotelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdRoomNavigation.IdHotelNavigation.HotelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdRoomNavigation.RoomNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdRoomNavigation.RoomNumber)
        </dd>
		<dt>
			@Html.DisplayNameFor(model => model.IdRoomNavigation.IdHotelNavigation.IdLocationNavigation.RegionName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.IdRoomNavigation.IdHotelNavigation.IdLocationNavigation.RegionName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.IdRoomNavigation.IdHotelNavigation.IdLocationNavigation.Country)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.IdRoomNavigation.IdHotelNavigation.IdLocationNavigation.Country)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.IdRoomNavigation.IdHotelNavigation.IdLocationNavigation.StreatName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.IdRoomNavigation.IdHotelNavigation.IdLocationNavigation.StreatName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.IdRoomNavigation.IdHotelNavigation.IdLocationNavigation.NrStreat)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.IdRoomNavigation.IdHotelNavigation.IdLocationNavigation.NrStreat)
		</dd>
    </dl>
</div>

	<!-- rooms Section --!>
	<div>
		<DayPilot:DayPilotScheduler
			ID="DayPilotScheduler"
			runat="server">
				<headerColumns>
						<DayPilot:RowHeaderColumn title="Room" width="80" />
						<DayPilot:RowHeaderColumn title="Beds" width="80" />
				</headerColumns>
		</DayPilot:DayPilotScheduler>
	</div>
<div>
    <a asp-action="EditReservation" asp-route-id="@Model.IdReservations">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
