@model Licenta.ViewModel.HomePageViewModel

@{
    ViewData["Title"] = "Index";
	Layout = "_Layout";
}

<h2>Chose a Hotel </h2>

<div class="row">
    <div class="col-sm-4">
       <form  asp-action="HomePage" method="get">
            @for(int i = 0; i < Model.listFacilities.Length; i++)    
            {
				<div class="form-group">
					<input asp-for="@Model.listFacilities[i].IsChecked"  />				
					<label asp-for="@Model.listFacilities[i].IsChecked">@Model.listFacilities[i].FacilitiesName</label>
					@Html.HiddenFor( x=> @Model.listFacilities[i].IdFacilities)
					@Html.HiddenFor( x=> @Model.listFacilities[i].FacilitiesName)
				</div>
				
            } 
			    
				<input asp-for="CheckIn" class="form-control"  />	
				<input asp-for="CheckOut" class="form-control"  />
				
            <div class="form-group">      
					<select asp-for="IdLocation" class="form-control" asp-items="@(new SelectList(Model.listLocations, "IdLocation", "RegionName"))">
						<option value="0">Chose o country </option>
					</select>					
             </div>
			 <input type="submit" value="Filter" class="btn btn-default"/>
        </form>          


    </div>
	
    <div class="col-sm-8">
        <h4>Hotels</h4>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Hotel name</td>
                    <td>Description table</td>
                    <td>Stars</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var Hotel in Model.listHotels)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelIten => Hotel.HotelName)</td>
                        <td> @Html.DisplayFor(modelIten => Hotel.DescriptionTable)</td>
                        <td> @Html.DisplayFor(modelIten => Hotel.Stars)</td>
                        <td><a asp-controller="Hotels" asp-action="Details" asp-route-id=@Hotel.IdHotel asp-route-checkInDate=@Model.CheckIn asp-route-checkOutDate=@Model.CheckOut >Visit hotel</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
