@using Microsoft.AspNetCore.Http
@model Licenta.ViewModel.HomePageViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

@section Style{
    <link href="@Url.Content("~/bootstrap-4.1.1-dist/css/bootstrap-grid.css")" rel="stylesheet" type="text/css" ) />
    <link href="@Url.Content("~/bootstrap-4.1.1-dist/css/bootstrap-reboot.css")" rel="stylesheet" type="text/css" ) />
    <link href="@Url.Content("~/bootstrap-4.1.1-dist/css/bootstrap.css")" rel="stylesheet)" type="text/css" />
    <link href="@Url.Content("~/CSS/MainCss.css")" rel="stylesheet" type="text/css" />
}
@section Scripe{
    <script src="@Url.Content("~/bootstrap-4.1.1-dist/js/bootstrap.js")"></script>
}

<h2>Chose a Hotel </h2>

<!-- uninpelmented-->


<div class="navbar navbar-nav">
    @if (Context.Session.GetString("IdCustomer") != null)
    {
        <ul>
            <li><a asp-area="" asp-controller="Customers" asp-action="LogOut">logOut</a></li>
        </ul>
    }
    else
    {
        <ul>
            <li><a asp-area="" asp-controller="Customers" asp-action="LogIn">LogIn</a></li>
            <li><a asp-area="" asp-controller="Customers" asp-action="Create">Sing In</a></li>
        </ul>
    }
</div>
 
<div class="row">
    <div class="col-sm-4">
        <form asp-controller="Home" asp-action="Index" method="post">
          
            <br />
            @for(int i = 0; i < Model.listFacilities.Length; i++)
            {
                @Html.TextBoxFor(m => m.listFacilities[i].IdFacilities)
                @Model.listFacilities[i].FacilitiesName
            }
            <div class="form-group">                    
					<select asp-for="@Model.IdLocation" class="form-control">
						@foreach(var Location in Model.listLocations)
						{
							<option>@Location.RegionName</option>
						}
					</select>
             </div>
            <input type="submit" value="Filter" class="btn btn-default"/>
        </form>
    </div>
	
    <div class="col-sm-8">
        <h4>Hotels</h4>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Hotel name</td>
                    <td>Description table</td>
                    <td>Stars</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var Hotel in Model.listHotels)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelIten => Hotel.HotelName)</td>
                        <td> @Html.DisplayFor(modelIten => Hotel.DescriptionTable)</td>
                        <td> @Html.DisplayFor(modelIten => Hotel.Stars)</td>
                        <td><a href="/hotels/Details/@Hotel.IdHotel">Visit hotel</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



