@model Licenta.ViewModel.HomePageViewModel

@{
    ViewData["Title"] = "Index";
	Layout = "_Layout";
}

<h2>Chose a Hotel </h2>

<div class="row">
    <div class="col-sm-4">
       <form  asp-action="index" method="post">
            @for(int i = 0; i < Model.listFacilities.Length; i++)    
            {
				<div class="form-group">
					<input asp-for="IdFacilities[i]" />				
					@Model.listFacilities[i].FacilitiesName
				</div>
            } 
					
			
            <div class="form-group">      
					<select asp-for="IdLocation" class="form-control" asp-items="@(new SelectList(Model.listLocations, "IdLocation", "RegionName"))">						
					</select>					
             </div>
			 <input type="submit" value="Filter" class="btn btn-default"/>
        </form>          


    </div>
	
    <div class="col-sm-8">
        <h4>Hotels</h4>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Hotel name</td>
                    <td>Description table</td>
                    <td>Stars</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var Hotel in Model.listHotels)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelIten => Hotel.HotelName)</td>
                        <td> @Html.DisplayFor(modelIten => Hotel.DescriptionTable)</td>
                        <td> @Html.DisplayFor(modelIten => Hotel.Stars)</td>
                        <td><a href="/hotels/Details/@Hotel.IdHotel">Visit hotel</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
