@model IEnumerable<Licenta.Entityes.Facilities>

@{
    ViewData["Title"] = "Index";
	Layout = "_Layout";
}

<h2>Index</h2>

<p>
    <a asp-action="CreateFacilities">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FacilitiesName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsChecked)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacilitiesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsChecked)
            </td>
            <td>
                <a asp-action="EditFacilities" asp-route-id="@item.IdFacilities">Edit</a> |
                <a asp-action="DetailsFacilities" asp-route-id="@item.IdFacilities">Details</a> |
                <a asp-action="DeleteFacilities" asp-route-id="@item.IdFacilities">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
