@model Licenta.Entityes.Employes

@{
    ViewData["Title"] = "Delete";
	Layout = "_Layout";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdHotelNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdHotelNavigation.IdHotel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idemploye" />
        <input type="submit" value="DeleteEmploye" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
