@model Licenta.Entityes.Employes

@{
    ViewData["Title"] = "Details";
	Layout = "_Layout";
}

<h2>Details</h2>

<div>
    <h4>Employes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdHotelNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdHotelNavigation.IdHotel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditEmploye" asp-route-id="@Model.Idemploye">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
